<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae036796-8eef-4f0b-a213-9407f7ddee33" name="https://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ae036796-8eef-4f0b-a213-9407f7ddee33fileName">https%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
